/* O CO JDE?*/

.texts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #333232
    /* margin-top: 12%; */
}

.text1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* height: 50vh; */
  justify-content: space-between;
  /* max-width: 60%; */
  min-width: 50%;

}


.text1__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text1__heading {
  margin-bottom: 10%;
  color: white;
}



.text1__about {
  /* padding-left: 6%; */
  max-width: 60%;
  max-height: 100%;
  font-size: 16px;
  color: white;

}

/* CO TO BUDE? */
.text2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* height: 50vh; */
  justify-content: space-between;
  margin-top: 20%;
  /* max-width: 60%; */
  min-width: 50%;
}



.text2__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text2__heading {
  margin-bottom: 10%;
  color: white;
}

.text2__about {
  /* padding-right: 6%; */
  max-width: 60%;
  max-height: 100%;
  font-size: 16px;
  color: white;
  flex-shrink: 2;
  text-align: start;
}

.footer {
  margin-top: 40%;
}
